@import "tailwindcss";

.svg-editor-container svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  background-image: 
    linear-gradient(45deg, #f0f0f0 25%, transparent 25%), 
    linear-gradient(-45deg, #f0f0f0 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #f0f0f0 75%), 
    linear-gradient(-45deg, transparent 75%, #f0f0f0 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border-radius: 8px;
  cursor: crosshair;
}

.svg-editor-container path,
.svg-editor-container polygon,
.svg-editor-container rect {
  transition: opacity 0.1s;
}

.svg-editor-container path:hover,
.svg-editor-container polygon:hover,
.svg-editor-container rect:hover {
  opacity: 0.7;
}

.svg-editor-container .selected {
  stroke: #0055ff !important;
  stroke-width: 4px !important;
  vector-effect: non-scaling-stroke !important;
  opacity: 1 !important;
}
